@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$green          : rgba(171, 209, 78, 0.8);
$blue           : #3cc1ca;
$white          : #ffffff;

body {
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: black;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1 {
    color: $green;
    font-size: 24px;
}

.button {
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: $green;
    margin-bottom: 5px;
    margin-top: 5px
}

.clickable_li {
    cursor: pointer;
}

.container {
    @include container;
}

.clear {
    clear: both;
}

.header1 {
    @include span-columns(12 omega,12);

    margin-top: 20px;
    font-size: 12px;

    .social {
        @include pre(3,12);
        @include span-columns(2,12);
        @include post(2,12);

        a {
            margin-left: 10px;
        }
            
        a:last-child {
            padding-right: 0;
        }
    }

    .login_register {
        @include span-columns(2,12);

        color: $blue;

        * {
            vertical-align: middle;
        }
    }

    .cart {
        @include span-columns(1,12);

        * {
            vertical-align: middle;
        }
    }

    .search {
        @include span-columns(2 omega,12);

        input {
            width: 115px;
            border-style: none;
            border-bottom: 1px solid $blue;
        }
    }
}

.header2 {
    @include span-columns(12 omega,12);

    font-size: 12px;

    .logo {
        @include span-columns(3,12);

        img {
            max-width: 100%;
            margin: auto;
        }
    }

    .main_nav_container {
        @include span-columns(9 omega,12);

        margin-top: 30px;

        .main_nav {
            margin-bottom: 0;
            float: right;

            li {
                @extend .clickable_li;

                color: $blue;
                margin-left: 17px;
                margin-right: 17px;
                display: inline-block;
                text-transform: uppercase;
            }

            li:last-child {
                margin-right: 7px;
            }
        }
    }
}

.footer_outer {
    background: url('http://www.futurederm.com/Themes/FutureDerm.Theme/Content/footer-background.png') repeat;

    width: 100%;

    .footer_inner {
        @include span-columns(12 omega, 12);

        margin-top: 10px;
        padding-top: 40px;
        min-height: 160px;

        .logo {
            @include span-columns(3,12);

            img {
                width: 100%;
            }
        }

        .footer_nav_container {
            @include pre(2,12);
            @include span-columns(7 omega, 12);

            .footer_nav {
                margin-top: 10px;
                text-transform: uppercase;
                color: $blue;
                font-size: 12px;
                float: right;

                li {
                    display: inline;
                    margin-left: 17px;
                    margin-right: 17px;
                }
            }
        }

        .disclaimers {
            @include span-columns(4,12);

            border-top: 1px solid #777777;;
            border-bottom: 1px solid #777777;
            clear: both;
            color: white;
            font-size: 10px;
            height: 21px;
            padding: 8px 8px 8px 0;
            margin-right: 0;

            * {
                vertical-align: middle;
            }

            span {
                margin-left: 20px;
                margin-right: 20px;
            }

            ul,li {
                display: inline;
            }
        }

        .footer_social_container {
            @include span-columns(8 omega,12);

            border-top: 1px solid #777777;
            border-bottom: 1px solid #777777;
            height: 21px;
            padding: 8px 0 8px 8px;
            
            .footer_social {
                float: right;

                a {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}


// ###########################################################


.product_details {
    .main_image {
        @include span-columns(3,12);

        img {
            max-width: 100%;
            margin: auto;
        }
    }

    .main_text {
        @include span-columns(6,12);

        padding-top: 30px;
    }

    .purchase_buttons {
        @include span-columns(3 omega,12);

        padding-top: 30px;

        li {
            @extend .button;
        }
    }

    .lead_tabs {
        @include span-columns(3, 12);

        li {
            @extend .clickable_li;

            color: $white;
            background-color: $blue;
            padding: 10px;
            margin: 5px;
        }
    }

    .review_tabs {
        @include span-columns(9 omega,12);

        ul {
            margin-bottom: 0;
        }

        li {
            @extend .clickable_li;

            display: inline-block;
            border: 1px solid $blue;
            padding: 5px;
            min-width: 170px;
            text-align: center;
        }

        li.ui-tabs-active {
            z-index: 2;
            border-bottom: 1px solid #ffffff;
        }

        li:first-child {
            margin-left: 20px;
        }

        > div {
            border: 1px solid $blue;
            padding: 5px;
            margin-top: -2px;
            min-height: 200px;
        }

        #tabs_futurederm_review {
            p {
                @include span-columns(7,9);

                margin-top: 30px;
            }

            .sidebar {
                @include span-columns(2 omega,9);

                text-align: center;
                margin-top: 30px;

                .rating_title {
                    color: red;
                    font-size: 14px;
                }

                .rating_percentage {
                    color: $blue;
                    font-size: 45px;
                }
            }
        }
    }
}