/*
 * Rules
 * 
 * Styling by ID is not permitted.
 * Styling by tag is used sparingly and is mainly used for 
 *    resets and cross-browser compatibility.
 * Descendent selectors are forbidden. Use child selectors.
 * 
 * Class stylings are divided into layout, which are prefixed with an 'l', and
 * module stylings which are prefixed with an 'm'.
 *
 * A module is a re-usable page element and consists of the HTML, CSS, and JS
 * that is required for that page element. Examples are navigation or the search bar.
 * Modules are designed be used in different positions and sizes.
 *
 * Layout stylings are used to position and size modules on a page.
 * Module stylings are used on every instance of a module.
 *
 * Classes consist of <prefix><moduleName>[-<component>]
 * <prefix> is either 'l' or 'm'
 * <moduleName> is a camelCase identifier for the module
 * <component> is a camelCase identifier for a component of the module
 *
 * HTML elements should have a maximum of 1 layout class applied.
 * Multiple module classes may be applied to a given element.
 *
 * Subclasses of modules are called submodules. To use a submodule, apply
 * the classes of both the parent and child.
 *
 * Submodule classes are of the form <prefix><parentModuleName>_<subModuleName>[-<component>]
 */
/* line 46, ../sass/main.scss */
body {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 50, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 55, ../sass/main.scss */
a:hover {
  text-decoration: underline;
  color: black;
}

/* line 60, ../sass/main.scss */
ol, ul {
  list-style: none;
  padding: 0;
}

/* line 65, ../sass/main.scss */
h1 {
  color: rgba(171, 209, 78, 0.8);
  font-size: 24px;
}

/* line 72, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 78, ../sass/main.scss */
.lBody {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lBody:after {
  content: "";
  display: table;
  clear: both;
}

/* line 84, ../sass/main.scss */
.lHeader1 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 20px;
}

/* line 90, ../sass/main.scss */
.lHeader1-social {
  margin-left: 25.42373%;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 16.94915%;
}

/* line 96, ../sass/main.scss */
.lHeader1-loginRegister {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 100, ../sass/main.scss */
.lHeader1-shoppingCart {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 104, ../sass/main.scss */
.lHeader1-search {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 110, ../sass/main.scss */
.lHeader2 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 114, ../sass/main.scss */
.lHeader2-logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 117, ../sass/main.scss */
.lHeader2-logo > img {
  max-width: 100%;
  margin: auto;
}

/* line 123, ../sass/main.scss */
.lHeader2-nav {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 30px;
}

/* line 134, ../sass/main.scss */
.lProductDetails-mainImage {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 137, ../sass/main.scss */
.lProductDetails-mainImage > img {
  max-width: 100%;
  margin: auto;
}

/* line 143, ../sass/main.scss */
.lProductDetails-mainText {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-top: 30px;
}

/* line 149, ../sass/main.scss */
.lProductDetails-purchaseButtons {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-top: 30px;
}

/* line 155, ../sass/main.scss */
.lProductDetails-leadTabs {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 159, ../sass/main.scss */
.lProductDetails-reviewContainer {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 164, ../sass/main.scss */
.lProductDetails-reviewTabs > li:first-child {
  margin-left: 20px;
}

/* line 169, ../sass/main.scss */
.lProductDetails-reviewContent {
  min-height: 200px;
}
/* line 172, ../sass/main.scss */
.lProductDetails-reviewContent > p {
  width: 77.27273%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}

/* line 177, ../sass/main.scss */
.lProductDetails-futuredermReview-sidebar {
  width: 20.45455%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 183, ../sass/main.scss */
.lFooter-outer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background: url("http://www.futurederm.com/Themes/FutureDerm.Theme/Content/footer-background.png") repeat;
  width: 100%;
}
/* line 38, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lFooter-outer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 190, ../sass/main.scss */
.lFooter-inner {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 10px;
  padding-top: 40px;
  min-height: 160px;
}

/* line 198, ../sass/main.scss */
.lFooter-disclaimers {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  clear: both;
  color: white;
  font-size: 10px;
  height: 21px;
  padding: 8px 8px 8px 0;
  margin-right: 0;
}
/* line 210, ../sass/main.scss */
.lFooter-disclaimers > * {
  vertical-align: middle;
}

/* line 215, ../sass/main.scss */
.lFooter-policyLinks {
  display: inline;
}
/* line 218, ../sass/main.scss */
.lFooter-policyLinks > li {
  display: inline;
}

/* line 223, ../sass/main.scss */
.lFooter-copyright {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 228, ../sass/main.scss */
.lFooter-socialContainer {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  height: 21px;
  padding: 8px 0 8px 8px;
}

/* line 237, ../sass/main.scss */
.lFooter-social {
  float: right;
}

/* line 241, ../sass/main.scss */
.lFooter-logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 244, ../sass/main.scss */
.lFooter-logo > img {
  width: 100%;
}

/* line 249, ../sass/main.scss */
.lFooter-navContainer {
  margin-left: 16.94915%;
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 257, ../sass/main.scss */
.mLeadTabs > li {
  cursor: pointer;
  color: white;
  background-color: #3cc1ca;
  padding: 10px;
  margin: 5px;
}

/* line 268, ../sass/main.scss */
.mFutureDermRating {
  text-align: center;
  margin-top: 30px;
}

/* line 273, ../sass/main.scss */
.mFutureDermRating-title {
  color: red;
  font-size: 14px;
}

/* line 278, ../sass/main.scss */
.mFutureDermRating-percentage {
  color: #3cc1ca;
  font-size: 45px;
}

/* line 293, ../sass/main.scss */
.mButton, .mButtonList > li {
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(171, 209, 78, 0.8);
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 306, ../sass/main.scss */
.mNavigation {
  margin-bottom: 0;
  float: right;
  font-size: 12px;
}
/* line 311, ../sass/main.scss */
.mNavigation > li {
  cursor: pointer;
  color: #3cc1ca;
  margin-left: 17px;
  margin-right: 17px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 320, ../sass/main.scss */
.mNavigation > li:last-child {
  margin-right: 7px;
}

/* line 329, ../sass/main.scss */
.mSiteSearch_input {
  width: 115px;
  border-style: none;
  border-bottom: 1px solid #3cc1ca;
}

/* line 340, ../sass/main.scss */
.mShoppingCart_size {
  color: #3cc1ca;
  vertical-align: middle;
}

/* line 347, ../sass/main.scss */
.mLoginRegister {
  font-size: 12px;
}

/* line 351, ../sass/main.scss */
.mLoginRegister_links {
  color: #3cc1ca;
  vertical-align: middle;
}

/* line 359, ../sass/main.scss */
.mIconSet > a {
  text-decoration: none;
}
/* line 362, ../sass/main.scss */
.mIconSet > a:last-child {
  margin-right: 0;
}

/* line 369, ../sass/main.scss */
.mIconSet_space5 > a {
  margin-right: 5px;
}

/* line 375, ../sass/main.scss */
.mIconSet_space10 > a {
  margin-right: 10px;
}

/* line 385, ../sass/main.scss */
.mTabs-itemList {
  margin-bottom: 0;
}

/* line 389, ../sass/main.scss */
.mTabs-item {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #3cc1ca;
  padding: 5px;
  min-width: 170px;
  text-align: center;
}
/* line 397, ../sass/main.scss */
.mTabs-item.ui-tabs-active {
  z-index: 2;
  border-bottom: 1px solid #ffffff;
}

/* line 403, ../sass/main.scss */
.mTabs-content {
  border: 1px solid #3cc1ca;
  padding: 5px;
  margin-top: -2px;
}
/* line 408, ../sass/main.scss */
.mTabs-content > p {
  margin-top: 30px;
}
