/* line 12, ../sass/main.scss */
body {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 16, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 21, ../sass/main.scss */
a:hover {
  text-decoration: underline;
  color: black;
}

/* line 26, ../sass/main.scss */
ol, ul {
  list-style: none;
  padding: 0;
}

/* line 31, ../sass/main.scss */
h1 {
  color: rgba(171, 209, 78, 0.8);
  font-size: 24px;
}

/* line 36, ../sass/main.scss */
.button, .product_details .purchase_buttons li {
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(171, 209, 78, 0.8);
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 47, ../sass/main.scss */
.clickable_li, .header2 .main_nav_container .main_nav li, .product_details .lead_tabs li, .product_details .review_tabs li {
  cursor: pointer;
}

/* line 51, ../sass/main.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 59, ../sass/main.scss */
.header1 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 20px;
  font-size: 12px;
}
/* line 65, ../sass/main.scss */
.header1 .social {
  margin-left: 25.42373%;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 16.94915%;
}
/* line 70, ../sass/main.scss */
.header1 .social a {
  margin-left: 10px;
}
/* line 74, ../sass/main.scss */
.header1 .social a:last-child {
  padding-right: 0;
}
/* line 79, ../sass/main.scss */
.header1 .login_register {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  color: #3cc1ca;
}
/* line 84, ../sass/main.scss */
.header1 .login_register * {
  vertical-align: middle;
}
/* line 89, ../sass/main.scss */
.header1 .cart {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 92, ../sass/main.scss */
.header1 .cart * {
  vertical-align: middle;
}
/* line 97, ../sass/main.scss */
.header1 .search {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 100, ../sass/main.scss */
.header1 .search input {
  width: 115px;
  border-style: none;
  border-bottom: 1px solid #3cc1ca;
}

/* line 108, ../sass/main.scss */
.header2 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-size: 12px;
}
/* line 113, ../sass/main.scss */
.header2 .logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 116, ../sass/main.scss */
.header2 .logo img {
  max-width: 100%;
  margin: auto;
}
/* line 122, ../sass/main.scss */
.header2 .main_nav_container {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 30px;
}
/* line 127, ../sass/main.scss */
.header2 .main_nav_container .main_nav {
  margin-bottom: 0;
  float: right;
}
/* line 131, ../sass/main.scss */
.header2 .main_nav_container .main_nav li {
  color: #3cc1ca;
  margin-left: 17px;
  margin-right: 17px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 141, ../sass/main.scss */
.header2 .main_nav_container .main_nav li:last-child {
  margin-right: 7px;
}

/* line 148, ../sass/main.scss */
.footer_outer {
  background: url("http://www.futurederm.com/Themes/FutureDerm.Theme/Content/footer-background.png") repeat;
  width: 100%;
}
/* line 153, ../sass/main.scss */
.footer_outer .footer_inner {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 10px;
  padding-top: 40px;
  min-height: 160px;
}
/* line 160, ../sass/main.scss */
.footer_outer .footer_inner .logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 163, ../sass/main.scss */
.footer_outer .footer_inner .logo img {
  width: 100%;
}
/* line 168, ../sass/main.scss */
.footer_outer .footer_inner .footer_nav_container {
  margin-left: 16.94915%;
  width: 57.62712%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 172, ../sass/main.scss */
.footer_outer .footer_inner .footer_nav_container .footer_nav {
  margin-top: 10px;
  text-transform: uppercase;
  color: #3cc1ca;
  font-size: 12px;
  float: right;
}
/* line 179, ../sass/main.scss */
.footer_outer .footer_inner .footer_nav_container .footer_nav li {
  display: inline;
  margin-left: 17px;
  margin-right: 17px;
}
/* line 187, ../sass/main.scss */
.footer_outer .footer_inner .disclaimers {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  clear: both;
  color: white;
  font-size: 10px;
  height: 21px;
  padding: 8px 8px 8px 0;
  margin-right: 0;
}
/* line 199, ../sass/main.scss */
.footer_outer .footer_inner .disclaimers * {
  vertical-align: middle;
}
/* line 203, ../sass/main.scss */
.footer_outer .footer_inner .disclaimers span {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 208, ../sass/main.scss */
.footer_outer .footer_inner .disclaimers ul, .footer_outer .footer_inner .disclaimers li {
  display: inline;
}
/* line 213, ../sass/main.scss */
.footer_outer .footer_inner .footer_social_container {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  height: 21px;
  padding: 8px 0 8px 8px;
}
/* line 221, ../sass/main.scss */
.footer_outer .footer_inner .footer_social_container .footer_social {
  float: right;
}
/* line 224, ../sass/main.scss */
.footer_outer .footer_inner .footer_social_container .footer_social a {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 238, ../sass/main.scss */
.product_details .main_image {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 241, ../sass/main.scss */
.product_details .main_image img {
  max-width: 100%;
  margin: auto;
}
/* line 247, ../sass/main.scss */
.product_details .main_text {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-top: 30px;
}
/* line 253, ../sass/main.scss */
.product_details .purchase_buttons {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-top: 30px;
}
/* line 263, ../sass/main.scss */
.product_details .lead_tabs {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 266, ../sass/main.scss */
.product_details .lead_tabs li {
  color: white;
  background-color: #3cc1ca;
  padding: 10px;
  margin: 5px;
}
/* line 276, ../sass/main.scss */
.product_details .review_tabs {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 279, ../sass/main.scss */
.product_details .review_tabs ul {
  margin-bottom: 0;
}
/* line 283, ../sass/main.scss */
.product_details .review_tabs li {
  display: inline-block;
  border: 1px solid #3cc1ca;
  padding: 5px;
  min-width: 170px;
  text-align: center;
}
/* line 293, ../sass/main.scss */
.product_details .review_tabs li.ui-tabs-active {
  z-index: 2;
  border-bottom: 1px solid #ffffff;
}
/* line 298, ../sass/main.scss */
.product_details .review_tabs li:first-child {
  margin-left: 20px;
}
/* line 302, ../sass/main.scss */
.product_details .review_tabs > div {
  border: 1px solid #3cc1ca;
  padding: 5px;
  margin-top: -2px;
  min-height: 200px;
}
/* line 310, ../sass/main.scss */
.product_details .review_tabs #tabs_futurederm_review p {
  width: 77.27273%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
  margin-top: 30px;
}
/* line 316, ../sass/main.scss */
.product_details .review_tabs #tabs_futurederm_review .sidebar {
  width: 20.45455%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: center;
  margin-top: 30px;
}
/* line 322, ../sass/main.scss */
.product_details .review_tabs #tabs_futurederm_review .sidebar .rating_title {
  color: red;
  font-size: 14px;
}
/* line 327, ../sass/main.scss */
.product_details .review_tabs #tabs_futurederm_review .sidebar .rating_percentage {
  color: #3cc1ca;
  font-size: 45px;
}
